
@media screen and (max-width: 1419px) {
  .skills__list {
    gap: 36px 44px;
  }
}

@media screen and (max-width: 769px) {
  .hero__title {
    font-weight: 400;
    font-size: 32px;
    padding-top: 168px;
  }
  .hero__description {
    max-width: 390px;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .hero__content {
    padding-left: 60px;
    padding-bottom: 152px;
  }
  .skills__description {
    line-height: 1.2;
  }
  .skills__image {
    margin-bottom: 30px;
  }
  .skills__title {
    margin-bottom: 51px;
  }
  .price__container {
    grid-template-columns: 420px;
    gap: 50px;
  }
}

@media screen and (max-width: 525px) {
  .section-title {
    width: 90%;
  }
  .skills__list {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__gallery {
    grid-template-columns: 300px;
    gap: 15px;
  }
  .portfolio__photo {
    max-width: 300px;
  }
}

@media screen and (max-width: 470px) {
  .hero__description {
    max-width: 300px;
  }
  .hero__content {
    padding-left: 25px;
  }
  .price__container {
    grid-template-columns: 300px;
  }
}