.btn {
  position: relative;
  overflow: hidden;
  background-color: #bdae82;
  line-height: 2;
  color: #000000;
  padding: 8px 72px;
  border: none;
}

.btn:hover {
  color: #ffffff;
  cursor: pointer;
}
