.skills__list {
  list-style: none;
  width: 97%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 310px));
  margin: 0 auto;
  padding: 0;
  gap: 40px;
  justify-content: center;
}
