.form__input {
  padding: 5px 0 5px 20px;
  margin-bottom: 20px;
  line-height: 2;
  color: #bdae82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
}

.form__input:last-of-type {
  margin-bottom: 30px;
  padding-bottom: 55px;
}

.form__input::placeholder {
  color: #bdae82;
}
