.form__input {
  padding: 5px 0 5px 20px;
  line-height: 2;
  color: #bdae82;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  position: relative;
}

.form__input::placeholder {
  color: #bdae82;
}

.form__input:focus {
  outline: none;
}