.video__start-btn {
  background-image: url(../../../images/svg/play_btn.svg);
  background-position: center;
  background-size: cover;
  border: none;
  width: 130px;
  height: 130px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 15;
}

.video__start-btn:hover {
  background-image: url(../../../images/svg/play_hover.svg);
}