.card__btn {
  background-color: #bdae82;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  color: #000000;
  padding: 8px 39px;
  margin-bottom: 43px;
  border: none;
}

.card__btn:hover {
  color: #FFFFFF;
}