.skills__item-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}
